{% extends "MyApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Bienvenido!</h1>
    <h3>Podes buscar un videojuego:</h3>
    <form action="/MyApp/buscar/" method="GET">
        <input type="text" name="nombre" id="juego">
        <input type="submit" value="Buscar">
    </form>
    {% if productos %}
    <p>Estas buscando el juego --> {{nombre}}</p>
    <ul>
	{% for producto in productos %}
		<li> Nombre: {{producto.nombre}} </li>
		<li> Género: {{producto.genero}} </li>
		<li> Desarrollador: {{producto.creador}} </li>
	{% endfor %}
    </ul>
    {% endif %}
{% endblock %}